# Dataset
data/
!data/.gitkeep
!data/processed/.gitkeep
!data/predictions/.gitkeep

# Models & Pickles
models/*.pkl
models/*.joblib
!models/.gitkeep
!models/best_model.pkl
!models/preprocessor.pkl
!models/feature_columns.json
!models/eval_metrics.json

# MLflow Tracking
mlruns/
mlruns.db
mlflow.db

# Virtual environment
.venv/
env/
venv/

# Python cache & build
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Backup
catboost_info/
production-pro
